- provide :title, 'Welcome!'

= render 'shared/background_image'
%hgroup.content-center.landing-main
  %h1 Welcome to Galliora!
  %h3 A place where you can share your wonderful pictures with the world
  = link_to 'Explore', new_user_registration_path, class: 'btn btn-light btn-lg'
