/************************/
/* Main landing content */
/************************/
.landing-main h1 {
  font-size: 4rem;
  font-weight: bold;
}
.landing-main h1,
.landing-main h3 {
  opacity: 0.7;
  margin: 1rem auto;
}

.landing-main .btn {
  font-size: 2rem;
  padding: 1rem 2rem;
}

/****************************/
/* Small screens adaptation */
/****************************/
@media (max-width: 576px) {
  .landing-main h1 {
    font-size: 3rem;
  }

  .landing-main h3 {
    font-size: 1.3rem;
  }

  .landing-main .btn {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}
