= render 'users/mailer/shared/css'

.container
  .content
    %h1 Welcome to Galliora 🎉

    .frame
      %h3 We are glad to have you on board, #{@resource.username}!

      %p
        But before you can explore Galliora, you need to confirm your email address:

      %p.btn-black
        = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

    %p Galliora team
